/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rnavar -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Parameters for full-size test
    input               = './assets/samplesheet_full.csv'


    // Genome parameters
    genome              = 'GRCh38'
    star_index          = '/media/summer/ExtraDrive1/Projects/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa.star.idx'
    fasta               = '/media/summer/ExtraDrive1/Projects/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa'
    gtf                 = '/media/summer/ExtraDrive1/Projects/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ref_annot.gtf'
    gene_bed            = '/media/summer/ExtraDrive1/Projects/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ctat_mutation_lib/refGene.bed'

    // Known genome resources (optional)
    dbsnp               = '/media/summer/ExtraDrive1/Projects/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ctat_mutation_lib/dbsnp.vcf.gz'
    dbsnp_tbi           = '/media/summer/ExtraDrive1/Projects/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ctat_mutation_lib/dbsnp.vcf.gz.tbi'
    
    // Annotation
    snpeff_db           = 'GRCh38.92'
    vep_genome          = 'WBcel235'
    vep_species         = 'caenorhabditis_elegans'
    vep_cache_version   = '104'
}
